<%- include ../partials/header %>

<form action="/beers" method="POST">
    <div>
        <label for="name">Beer Name:</label>
        <input type="text" name="name">
    </div>
    <div>
        <label for="style">Location:</label>
        <input type="text" name="style">
    </div>
    <button type="submit" >Add Beer</button>
</form>

<hr>

<%- include ../partials/footer %>